/*FontFace*/
@font-face {
	font-family: "BlackChancery";
	src: url("fonts/BLKCHCRY.TTF");
}

@font-face {
	font-family: "Abhaya Libre";
	src: url("fonts/AbhayaLibre-Regular.ttf");
}

body{
	color: #fff;
	background-color: #17181c;
}


.divisor{
	border-top: solid 2px rgb(150,150,150);
}

.main-title{
	font-family: "BlackChancery";
	color: 	#349e2c;
	font-size: 68px;
	text-align: center;
	margin : 25px 0 0 0;
}

.sub-title{
	font-family: "Abhaya Libre";
	font-size: 35px;
	font-weight: 300;
	text-align: center;
	margin : 15px 0 15px 0;
}

#btn-start {
	transition: 0.25s;
	background-color: inherit;
	border-color: #10FF00;
	box-shadow: -0.3em 0.3em 0.8em -0.4em #1AFF00;
	color: 	#10FF00;
}

#btn-add{
	transition: 0.25s;
	background-color: inherit;
	border-color: #10FF00;
	color: 	#10FF00;
}

#btn-start:hover,
#btn-start:focus,
#btn-add:hover,
#btn-add:focus{
	color: #fff;
	box-shadow: 0 0.5em 0.5em -0.4em #10FF00;
	transform: translateY(-0.25em);
}


.quest-text{
	font-family: "Abhaya Libre";
	font-size: 20px;
}

#qstName{
	font-size: 25px;
	height: 45px;
	border-top: none;
	border-left: none;
	border-right: none;
}

#qstContent,
#nObjectives{
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: unset;
	background-color: inherit;
}
#qstContent:focus,
#nObjectives:focus{
	box-shadow: none;
	border-color: #349e2c;
}

#qstPrincipal:checked,
#qstSecondary:checked{
	background-color: #349e2c;
    border-color: #349e2c;
}

#qstPrincipal:focus,
#qstSecondary:focus{
	border: none;
	box-shadow: none;
}
#nObjectives{
	text-align: center;
}
.bordered{
	border: solid 1px lightgray;
	border-radius: 5px 5px;
}

.principal{
	color: #11ceee;
}

.secondary{
	color: #77ceee;
}

.footer-link{
	color: 	#349e2c;
}
.footer-link:hover,
.footer-link:focus{
	color: 	#10FF00;

}
.principal{
	color: 	#349e2c;
}
.checkIco{
	transition: 0.5s;
	font-size: 1em;
	width: auto;
}
.checkIco:hover{
	transform: rotate(-90deg);
	color: 	#10FF00;
}

.delIco{
	transition: 0.5s;
	font-size: 1em;
	width: auto;
}
.delIco:hover{
	transform: rotate(-180deg);
	transform: translateY(-0.25em);
	color: 	#ff0000;
}

.icon{
	margin-right:5px;
}